# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.metadata/
.settings/
.classpath
.project

# NetBeans
nbproject/
nbbuild/
nbdist/
*.nbattrs

# VS Code
.vscode/

# Generali
*.log
bin/
target/

# File di prova
*.txt

/out